.media {
  display: grid;
  grid-template-areas:
    'title'
    'images'
    'videos';
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
}

.media-title {
  grid-area: 'title';
  height: 27px;
  line-height: 23px;
  border-bottom: 1px solid #233a50;
  color: white;
  font-size: 15px;
  font-weight: 700;
  margin: 30px 0 25px 0;
  padding-bottom: 30px;
}

.media-videos {
  grid-area: videos;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
  .video {
    height: 320px;
  }
}

.media-images {
  grid-area: images;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;

  .image-cell {
    height: 350px;
    width: 330px;
    transition: all 500ms;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image-cell:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35rem 1.175rem,
      rgba(2, 8, 20, 0.8) 0px 0.175rem 0.5rem;
    transform: translateY(-3px) scale(1.1);
  }
}
